*{
	box-sizing: border-box;
}
aside > ul > li:nth-child(3):hover > .grades{
	display:block;
}
aside > ul > li{
	margin-bottom:27px;
}
aside > ul > li:nth-child(3) {
	position:relative;
	border: 1px solid #DDD;
    padding: 5px 7px 5px 0;
    border-radius: 3px;
    background: #F4F4F4;
}
aside > ul > li:nth-child(3) > img{
	position: absolute;
    width: 9%;
    right: 6%;
    top: 35%;
}
