 aside{
	width:13%;
	height:100%;
	-webkit-box-shadow: 1px 0px 0px 0px rgba(119,138,61,.1);
	-moz-box-shadow: 1px 0px 0px 0px rgba(119,138,61,.1);
	box-shadow: 1px 0px 0px 0px rgba(119,138,61,.1);
}
aside > ul{
	padding:75px 5px 15px 5px;
}
aside > ul > li{
	cursor:pointer;
	font-size:larger;
	text-align:center;
	padding:15px 10px;
	text-decoration: underline;
}
aside > ul > li:hover{
	color:crimson;
}