 aside{
	width:13%;
	height:100%;
	-webkit-box-shadow: 1px 0px 0px 0px rgba(119,138,61,.1);
	-moz-box-shadow: 1px 0px 0px 0px rgba(119,138,61,.1);
	box-shadow: 1px 0px 0px 0px rgba(119,138,61,.1);
}
aside > ul{
	padding:20px 5px 15px 5px;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
aside > ul > li{
	list-style:none;
	width:60%;
	cursor:pointer;
	font-size:larger;
	text-align:center;
	margin:20px 0;
/* 	text-decoration: underline; */
}
aside > ul > li:hover{
	color:crimson;
}